<div class="text-center">
  <div class="heading">
    Password Reset
  </div>

  <ng-container *ngIf="!isLoading">
    <div class="sub-heading sub-heading--muted">
      Please setup your new password by entering information below
    </div>

    <div class="divider"></div>
  </ng-container>

  <ng-container *ngIf="isLoading">
    <div class="sub-heading sub-heading--muted">
      Verifying you link, please wait ...
    </div>

    <app-loader></app-loader>
  </ng-container>
</div>

<ng-container *ngIf="!isLoading">
  <form
    (submit)="submit()"
    [formGroup]="form"
    appFormSubmit
    class="w-100"
  >
    <div class="form-group">
      <label for="password">Password</label>
      <div class="input-group-password">
        <input
          appControlError
          class="form-control with-icon"
          formControlName="password"
          id="password"
          name="password"
          [type]="isPasswordVisible ? 'text' : 'password'"
        >
        <fa-icon *ngIf="!isPasswordVisible" (click)="togglePasswordVisibility()" icon="eye" [classes]="['show-password']"></fa-icon>
        <fa-icon *ngIf="isPasswordVisible" (click)="togglePasswordVisibility()" icon="eye-slash" [classes]="['show-password', 'show-password--active']"></fa-icon>
      </div>
    </div>

    <div class="form-group mb-0">
      <label for="passwordRepeat">Password Repeat</label>
      <div class="input-group-password">
        <input
          appControlError
          class="form-control with-icon"
          formControlName="passwordRepeat"
          id="passwordRepeat"
          name="passwordRepeat"
          [type]="isPasswordRepeatVisible ? 'text' : 'password'"
        >
        <fa-icon *ngIf="!isPasswordRepeatVisible" (click)="togglePasswordRepeatVisibility()" icon="eye" [classes]="['show-password']"></fa-icon>
        <fa-icon *ngIf="isPasswordRepeatVisible" (click)="togglePasswordRepeatVisibility()" icon="eye-slash" [classes]="['show-password', 'show-password--active']"></fa-icon>
      </div>
    </div>

    <div
      *ngIf="showMismatchError"
      class="error"
    >
      Your password and repeated password are not match
    </div>

    <div
      *ngIf="error"
      class="error"
    >{{error}}</div>

    <ng-container *ngIf="!isSending">
      <button
        class="btn btn--radius__md btn--color__blue"
        type="submit"
      >
        Confirm Password Reset
      </button>
    </ng-container>

    <app-loader *ngIf="isSending"></app-loader>
  </form>
</ng-container>



