<div class="asset--widget">
  <div class="asset--widget__title color__primary">
    Download {{applicationName}} Widget for your computer
  </div>
  <div class="asset--widget__subtitle">
    You need {{applicationName}} Widget in order to start documenting your sessions.
  </div>
  <div class="asset--widget__image">
  </div>
  <div class="asset--widget--download">
    <a [href]="macOS" target="_blank" class="btn btn__standard btn__floor btn--radius__md btn--color__green">
      <fa-icon [icon]="['fab', 'apple']"></fa-icon>
      <span>
        <i>Download for</i>
        <i>MacOS</i>
      </span>
    </a>
    <a [href]="windows" target="_blank" class="btn btn__standard btn__floor btn--radius__md btn--color__blue-forced">
      <fa-icon [icon]="['fab', 'windows']"></fa-icon>
      <span>
        <i>Download for</i>
        <i>Windows</i>
      </span>
    </a>
  </div>
</div>
