.avatar-wrapper {
  .avatar {
    $size: 48px;

    &__lg {
      $size: 124px;
      width: $size;
      height: $size;
      line-height: $size - 5;
      font-size: 28px;
    }

    &__md {
      $size: 93px;
      width: $size;
      height: $size;
      line-height: $size - 5;
      font-size: 24px;
    }

    &__sl {
      $size: 52px;
      width: $size;
      height: $size;
      line-height: $size - 5;
      font-size: 18px;
    }

    &__sm {
      $size: 38px;
      width: $size;
      height: $size;
      line-height: $size - 5;
      font-size: 12px;
    }

    position: relative;
    display: inline-block;
    width: $size;
    height: $size;
    line-height: $size - 5;
    text-align: center;
    border-radius: 100%;
    border: 3px solid #DADAE3;
    text-transform: uppercase;

    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      vertical-align: top;
    }
  }
}
